* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

/*
 Paleta de colores:
 #4a4a4a (Texto del menú)
 #3CDBC0 (Color de fondo de la página)
 #FFFFFF (Color de texto de "Creando diversidad digital")
 */

/* HEADER */
header.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding-top: 10px;
  padding-bottom: 13px;
  background-color: white;
}

.menu {
  margin-top: 10px;
}
div.adalab {
  text-align: center;
}

ul.list-menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

li.links a {
  color: #4a4a4a;
  padding: 10px;
  text-transform: uppercase;
}

/* MAIN */
.container-ppal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
  height: 100vh;
}

.container-ppal > h1 {
  width: 235px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
}

/* MEDIAS QUERIES */
@media all and (min-width: 768px) {
  header.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  .menu {
    margin-top: 0px;
  }
  .container-ppal > h1 {
    font-size: 40px;
  }
}
